# Python pickled object files.
*.p

# MNIST dataset.
*-ubyte

# Parameters, assignments, and results.
params/
assignments/
results/

# PyCache (whatever that is!)
code/__pycache__

# Job reports (from HPC experiments)
job_reports/
