# Python pickled object files.
*.p

# MNIST dataset.
*-ubyte

# Parameters, assignments, results, performances.
params/
assignments/
results/
performances/

# PyCache (whatever that is!)
spiketorch/__pycache__

# Job reports (from HPC experiments)
job_reports/
